<section class="header">
    <div class="frow row-between">
        
        <div class="logo">
            <i class="fas fa-code fa-2x"></i>
        </div>

        <div class="hamburger__menu">
            <input class="menu__btn" type="checkbox" id="menu__btn" />
            <label class="menu__icon" for="menu__btn"><span class="navicon"></span></label>
            <div class="frow centered-column">
                <ul class="menu">
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Connect</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</section>
