
@import 'variables';
@import 'mediaqueries';

body {
    font-family: $main-font;
    background-color: $beige;
    width: $mobileWidth;
    font-size: 17px;
}
li {
    list-style: none;
}
h1 {
    padding: 50px 0;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.header {
    background-color: $green;
    height: 100%;
    padding: 50px;
}
.logo i {
    color: $beige;
}






.masthead {
    background-color: $orange;
    min-height: 100vh;
    padding: 10vh 0;
    text-transform: uppercase;
}
.name {
    h1 {
        color: $beige;
        font-size: 2.8rem;
        text-align: center;
        
    }
    
}
.desc {
    background-color: $green;
    padding: 20px;
    margin: 70px 20px;
    max-width: 300px;
    height: 215px;
    
    p {
        text-align: center;
        font-weight: 100;
        font-size: 30px;
    }
}
.contact {
    button {
        background-color: $blue;
        color: $beige;
        padding: 20px 40px;
        font-size: 1.8rem;
        text-transform: uppercase;
        border: none;
    
        &:hover {
            background-color: lighten($blue, 7%);
        }
    }
}
img {
    width: 80%
}
.connect {
    min-height: 250px;
    background-color: $green;
}

