//colors
$orange: #DC5B21;
$green: #70AB8F;
$blue: #022539;
$white: #F5F6FB;
$black: #000;
$beige: #E4DBBE;

//font
$main-font: 'Open Sans', sans-serif;

//widths
$mobileWidth: 375px;
$tabletWidth: 769px;
$desktopWidth: 1440px;